.app {
  height: 500px;
}

.headings {

}

.brush-selection {
  height: 70px;
}

.paint {
  height: 500px;
}

.palette {
  display: flex;
}

.brush {

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
display: grid;
height: 200px;
width: 200px;
border: 1px solid black;
grid-template-rows: repeat(10, 1fr);
grid-template-columns: repeat(10, 1fr);
}

.square {
  transition: 0.5s;
}

.color-1 {
background-color: royalblue;
}

.color-2 {
background-color: red;
}

.color-3 {
background-color: olivedrab;
}

.color-4 {
background-color: black;
}

.color-5 {
background-color:white;
}
